body{
    background-image: url(../img/prosto_cosmos.jpg);
    color: #fff;
}

.page{
    margin: 20px;
}

.header{
    margin: 0 auto;
    padding: 10px;
    max-width: 600px;
    background-color: #324ab2;/* #0550cc;*/
    color:	#fff; 
    text-align: center;
    font-size: 42px;
    letter-spacing: 12px;
    border-radius: 15px;
    box-shadow: 0 0 7px 3px #ff5588;
}

.head-title{
    text-align: center;
    font-size: 36px;
    color: #ffff88;
}

.container{
    text-align: center;
    background: rgba(55, 75, 255, 0.2);
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
}

.menu__item{
    margin: 10px;
}

.menu__item_logout{
/*    display: none;*/
}

.menu__link{
    width: 100%;
    max-width: 300px;
    min-width: 100px;
    padding: 15px;
    border-radius: 40px/30px;
    box-shadow: inset 0 0 6px;
}



.form__row{
    margin: 10px;
}

.form__row_errors{
    max-width: 300px;
    margin: 0 auto;
    display: none;
}

.form__input{
   min-width: 200px;	
   border-radius: 5px;
   color: #000;
}

.submit-btn{
    min-width: 200px;
    box-shadow: inset 0 0 6px;
}

.score-list{
    width: 100%;
    max-width: 380px;
    margin: 0 auto;

    background-color: #7182d9;
    border-radius: 10px;
    box-shadow: 0 0 7px 3px;
}

/* tr in scoerboard table*/
.score-list__item{
 	/*border: black 1px solid;*/
}

.score-list__cell{
    text-align: center;
    padding: 5px;
    border-top: gray 2px solid;
	/*border: black 1px solid;*/
}

.score-list__cell_head{
    border-top: 0px ;
}

.score-list__item_head{
    color: #c71585;/*умеренный фиолетово-красный*/
    font-size: 20px;
/*background-color: #a358e8;	
border-radius: 20px;*/
}


.back-button{
    margin-top: 10px;
    float: left;
    box-shadow: inset 0 0 6px;
}


/* Game */

.gameField{
    font-size: 20px;    
}

.win_button{
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 50px;
    box-shadow: inset 0 0 8px;
}