@font-face {
  font-family: Canossa-Ultra;
  src: url(../js/fonts/7fonts.ru_Canossa-Ultra.ttf);
}

.menu__item {
  margin: 10px;
}

.menu__link {
  width: 100%;
  max-width: 300px;
  min-width: 100px;
  border: none;
  font-size: 34px;
  color: rgba(10, 10, 10, 0.8);
  background: none;
  text-shadow: #7C0059 2px 2px 0, #7C0059 -1px -1px 0,  #7C0059 -1px 1px 0, #7C0059 1px -1px 0;
  outline: none;
}

.menu__link:hover {
  font-size: 46px;
  text-decoration: none;
  text-shadow: #7C0059 2px 2px 0, #7C0059 -2px -2px 0,  #7C0059 -2px 2px 0, #7C0059 2px -2px 0;
  color: #9C68D4;
}
