
/* Game */
.gameplay{
    font-size: $font-size-xs; 
    display: none;   
}

.gameOver{
	display: none;

}

.win_button{
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 50px;
    box-shadow: inset 0 0 8px;
}

